<html class="h-100">
<body class="d-flex flex-column h-100">
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">ⓒ Elena Deligio,
Felix Deumlich,
Melanie Holzapfel-Hüttenrauch,
Nima Azimihashemi</span>
    </div>
</footer>
</body>
</html>
