<title>YAPP - Overview Page</title>

<!-- Bootstrap core CSS -->
<link href="/public/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


<style>
    .themed-grid-col {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgb(208, 208, 208);
        border: 1px solid rgba(86, 61, 124, .2);
    }
    .container {
        align-content: flex-start;
    }

</style>

<h1>YAPP Overview Page</h1>
<div class="row mb-3">
    <div class="col-md-4 themed-grid-col">
        <h4>Topics</h4> <br>
        Topics go here <br>
        and here <br>
        and here
    </div>
    <div class="col-md-4 themed-grid-col">
        <h4>ToDo's</h4> <br>
        ToDo's go here <br>
        and here <br>
        and here
    </div>
    <div class="col-md-4 themed-grid-col">
        <h4>Links</h4> <br>
        Links go here <br>
        and here <br>
        and here
    </div>
</div>