<!DOCTYPE html>
<html class="h-100">
    <head>
        <title>YAPP - Overview Page</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/yapp.css" rel="stylesheet">
    </head>
    <body class="d-flex flex-column h-100">
        <%- include('partials/navigation') %>
        <%- body %>
        <%- include('partials/footer') %>
    </body>
</html>