<!DOCTYPE html>
<html>
    <head>
        <title>YAPP - Overview Page</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/yapp.css" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/navigation') %>
        <%- body %>
        <%- include('partials/footer') %>
    </body>
</html>