<h4>TOPICS</h4>   
<section id="topic-list">
<ul>
    <% activeTopics.forEach(topic => { %>
    <li>
        <h5>
        <%= topic.title %>
        </h5>
        <ul>
            <li>
            <%= topic.subtitle %>
            </li>
        </ul>
    </li>
      <% }); %>
</ul>
</section>