<div class="container">

    <script>
        function addNewSubtopic() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <div>
        <button type="button" class="btn btn-primary" onclick="addNewSubtopic()">+ New Subtopic</button>
        <br>
    </div>

    <section id="myDIV" style="display: none; width: 100%;padding: 20px 0;margin-top: 20px;">
        <form method="post">
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Title: </span>
                    <input type="text" name="title" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" required>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Description: </span>
                    <textarea class="form-control" name="description" aria-label="With textarea" required></textarea>
                </div>
                <br><input class="save" type="submit" value="Add">
            </fieldset>
        </form>
    </section>
    <br>
    <section id="override-fieldset">
        <fieldset>
            <legend>Topic: <%= topic.title %></legend>
            <table class="table table-striped" border="1" style="width: 100%;">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Creation Date</th>
                    <th>Author</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td><%= topic.description %></td>
                    <td><%= topic.creationDate.toLocaleString() %></td>
                    <td><%= topic.author %></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <section>
            <fieldset>
                <section id="commentSection" style="width: 100%;padding: 10px 0;margin-top: 5px;">
                    <form method="post">
                        <fieldset>
                            <div class="mb-3">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button type="button" class="btn btn-primary">Post a Comment</button>
                        </fieldset>
                    </form>
                </section>
            </fieldset>
        </section>
    </section>
</div>